{% extends "base.html" %}

{% block content %}
<h1>{{ faculty.name }}</h1>
<div>
{% for book in books %}
    <figure>
        {% if book.cover %}
        <img src="{{ book.cover.url }}" alt="{{ book.title }}">
        {% else %}
        <img src="" alt="{{ book.title }}">
        {% endif %}
        <caption>{{ book.title }}</caption>
    </figure>
{% endfor %}
</div>
{% endblock content %}