<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookFinder</title>
</head>
<body>
    <nav>
        <ul>
        {% for faculty in faculties %}
            <li><a href="{% url 'faculty_detail' slug=faculty.slug %}">{{ faculty.name }}</a></li>
        {% endfor %}
        </ul>
        <ul>
            <li>
                <a href="{% url 'book_create' %}">+ Post Book</a>
            </li>
        </ul>
        <ul>
            <li>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </li>
        </ul>
    </nav>
    {% block content %}
    {% endblock content %}
</body>
</html>