{% extends "base.html" %}

{% block content %}
<h1>Add new Book</h1>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <hr>
    <button type="submit">Save</button>
</form>
{% endblock content %}