{% extends "base.html" %}
{% block content %}
<h1>{{ book.title }}</h1>
<div>
{% if book.cover %}
    <img src="{{ book.cover.url }}" alt="{{ book.title }}" />
{% else %}
    <p>No cover uploaded for this book!</p>
{% endif %}
</div>

{% endblock content %}